body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* head */  
.container_header {
    background-color: black;
    color: blueviolet;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.container_header .logo img {
    width: 25%; /* Adjust the width as needed */
    height: auto;
    transition: transform 0.3s;
}

.container_header .logo img:hover {
    transform: scale(1.1);
}

.nav_menu {
    display: flex;
    gap: 10%;
}

.nav_item {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_item:hover {
    color: white;
    transform: scale(1.1);
}

.nav_item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* end of the head */

.container_index {
    width: 100%;
    height: 600px;
    background-image: url('./image/nous4.JPG'); /* Path to your background image */
    background-size: cover; /* Make sure the background image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 50px 20px; /* Adjust padding as needed */
    color: white; /* Adjust text color for better readability against background image */
    margin-top: 0px;
}

.nav_page {
    font-size: 75px;
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_page::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_page:hover {
    color: white;
    transform: scale(1.1);
}

.nav_page:hover::after {
    transform: scaleX(1);
    transform-origin: top;
}

.container_item {
    border-radius: 20px;
    width: 33%;
    position: relative;
    overflow: hidden;
}

.hover_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hover_content img {
    width: 90%;
    border-radius: 100px;
    margin-top: 60px;
    margin-left: 60px;
    transition: opacity 0.3s ease; 
}

.hover_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container_item:hover .hover_content img {
    opacity: 0.9;
}

.container_item:hover .hover_text {
    opacity: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
