body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.container_header {
    background-color: black;
    color: blueviolet;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.container_header .logo img {
    width: 25%;
    height: auto;
    transition: transform 0.3s;
}

.container_header .logo img:hover {
    transform: scale(1.1);
}

.nav_menu {
    display: flex;
    gap: 10%;
}

.nav_item {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_item:hover {
    color: white;
    transform: scale(1.1);
}

.nav_item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .container_header .logo img {
        width: 50%;
    }

    .nav_menu {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .nav_item {
        font-size: 16px;
        margin-right: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav_item::after {
        bottom: 0;
        height: 1px;
    }
}

.nav_page {
    font-size: xx-large;
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_page::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_page:hover {
    color: white;
    transform: scale(1.1);
}

.nav_page:hover::after {
    transform: scaleX(1);
    transform-origin: top;
}

.container_item {
    border-radius: 20px;
    width: 33%;
    position: relative;
    overflow: hidden;
}

.hover_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hover_content img {
    width: 100%;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.hover_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ajustement pour aligner à gauche */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover_overlay.left {
    justify-content: flex-start;
    padding-left: 20px; /* Ajustement pour l'espace entre l'image et le texte */
}

.hover_overlay img {
    width: 30%;
    border-radius: 50%;
    margin-right: 20px;
}

.hover_text {
    color: white;
    font-size: 24px;
    text-align: left; /* Alignement du texte à gauche */
    transition: opacity 0.3s ease;
}

.container_item:hover .hover_content {
    opacity: 0;
}

.container_item:hover .hover_overlay {
    opacity: 1;
}

.container_item:hover .hover_content img {
    opacity: 0.3;
}

.container_up {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 20px;
    transition: width 0.4s ease-in-out;
    width: 600px;
}

.search-container input[type=text]:focus {
    width: 300px;
}

.search-container button {
    padding: 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: pink;
}

.container_shop {
    font-size: xx-large;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container_header {
    background-color: black;
    color: blueviolet;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.container_header .logo img {
    width: 25%;
    height: auto;
    transition: transform 0.3s;
}

.container_header .logo img:hover {
    transform: scale(1.1);
}

.nav_menu {
    display: flex;
    gap: 10%;
}

.nav_item {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_item:hover {
    color: white;
    transform: scale(1.1);
}

.nav_item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container_shop {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 55px;

}

.container_shop {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container_shop img {
    width: 60%; /* Adjust size as needed */
    transition: opacity 0.3s ease;
    border-radius: 50px;
}

.container_shop .hover_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%; /* Adjust size as needed */
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50px;
    margin: 10px;

}

.container_shop:hover .hover_image {
    opacity: 1;
}

.container_shop:hover img:not(.hover_image) {
    opacity: 0;
}

.container_shop p {
    margin-right: 0px;
    color: #333;
}

.category-menu {
    margin: 20px 0;
}

.category-menu button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: blueviolet;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.category-menu button.active {
    background-color: blueviolet;
    color: white;
    margin-left: 50px;
}

.nav_item2 {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    margin-right: 50px;
}

.nav_item2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: black;
}

.nav_item2:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.nav_item2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: black;
}
.product-details {
    max-width: 90%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.product-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-image {
    width: 1000px;
    margin: 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.product-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-details h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: blueviolet;
}

@media (max-width: 768px) {
    .product-images {
        flex-direction: column;
    }

    .product-image {
        max-width: 80%;
        margin-bottom: 15px;
    }
}

.product-price {
    font-size: xx-large;
}


